useDynLib(TopKLists, .registration = TRUE)
import(Hmisc)
import(grid)
import(gplots)
importFrom("grDevices", "dev.new", "dev.off", "pdf", "png")
importFrom("graphics", "axis", "legend", "lines", "par", "plot","text")
importFrom("stats", "dnorm", "na.exclude", "rmultinom", "runif")
importFrom("utils", "write.table")
##export everything that does not start with a .
exportPattern("^[^\\.]")
